/*** Project settings ****/
@import url("https://fonts.googleapis.com/css?family=Lora|Montserrat");
@import url("https://fonts.googleapis.com/css?family=Anton");
/*** Project default template style ****/
body {
  width: 100%;
  border: none;
  display: table;
  font-family: 'Montserrat', serif;
  padding: 0;
  margin: 0;
  color: #e6e6e6;
  background: linear-gradient(to bottom, #050303 0%, #1c0401 60%, #190300 100%), url("../images/bg-champion.jpg") no-repeat;
  background-position: top 105px left -715px;
  background-attachment: fixed;
  background-blend-mode: soft-light;
  font-size: 12px;
}

body a {
  text-decoration: none;
  color: #e6e6e6;
}

body li {
  list-style: none;
}

button .bt-default {
  text-transform: uppercase;
  box-shadow: #472a2a;
  background-color: #841b1b;
  text-shadow: 3px 1px 3px #472a2a;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 10px 15px;
  text-decoration: none;
  transition: all 0.5s;
}

button:hover {
  background: #5a1212;
}

input,
select {
  border: none;
  border-radius: 0px;
  padding: 10px;
  font-size: 12px;
  color: #e6e6e6;
  background: #1d1c1c;
  box-shadow: #000 2px -9px 12px -9px inset;
}

input:focus,
select:focus {
  outline: none !important;
}

.input-default {
  padding: 10px;
  width: 100%;
}

header {
  position: fixed;
  width: 100%;
  height: 180px;
  background: #000;
  display: inline-block;
  font-size: 0;
  vertical-align: top;
  margin-bottom: 15px;
  z-index: 100;
}

header #content-header {
  width: 1200px;
  margin: 0 auto;
}

header .logo {
  float: left;
  display: inline-block;
  width: 185px;
  height: 110px;
  text-align: center;
  margin: 0 35px;
  padding: 0;
  cursor: pointer;
}

header .logo img {
  max-width: 100%;
}

.container-rank {
  width: 1200px;
  margin: 0 auto;
}

.container {
  width: 1200px;
  margin: 200px auto 0;
}

.rank-content {
  width: 800px;
  float: right;
}

#nav-rank {
  display: table;
  width: 100%;
  text-align: center;
  font-size: 0;
  font-family: 'Lora', serif;
  background: #3b1212;
  color: #ffca7a;
}

#nav-rank a, #nav-rank select {
  text-transform: uppercase;
  font-family: 'Anton', sans-serif;
  font-size: 20px;
  float: right;
  display: inline-block;
  width: 150px;
  height: 45px;
  padding: 10px 20px;
  transition: all 0.4s;
  text-align: center;
  line-height: 45px;
  border: 1px solid #3d2424;
  border-top: 0;
  border-bottom: 0;
  background: #522626;
  color: #ffca7a;
  letter-spacing: 1.5px;
}

#nav-rank a:hover, #nav-rank select:hover {
  background: #1e0e0e;
}

#nav-rank select {
  font-size: 0;
}

#nav-rank select option {
  font-size: 14px;
}

#nav-rank .rank-title {
  position: relative;
  float: left;
  display: inline-block;
  text-align: left;
  font-size: 35px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 0;
  margin: 10px 40px;
}

#nav-rank .rank-title select {
  position: absolute;
  left: 0;
  top: 0;
  background: transparent;
  box-shadow: none;
  width: 210px;
  border: none;
}

#nav-rank .rank-title select option {
  background: #3b1212;
  color: #ffca7a;
  line-height: 16px;
  border: none;
}

.nav-classes {
  text-align: right;
}

.nav-classes li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.nav-classes li a.hero {
  position: relative;
  display: block;
  width: 80px;
  height: 80px;
  background: #1a1313;
  border: 1px solid #160e0e;
  overflow: hidden;
  transition: all 0.5s;
  border-radius: 100%;
  border: 3px solid #3d2424;
  margin: 15px 10px;
  cursor: pointer;
}

.nav-classes li a.hero:hover, .nav-classes li a.hero.selected {
  background: #611618;
}

.nav-classes li a.hero.selected {
  border-color: #ffca7a;
}

.nav-classes li a.icon {
  position: relative;
  display: block;
  width: 70px;
  height: 70px;
  background: #2f3030;
  padding: 5px;
  border-radius: 5px;
  vertical-align: middle;
  line-height: 70px;
}

.nav-classes li .class-portrait {
  width: 65px;
  margin: 14px auto 0;
  display: block;
}

.nav-classes li .stats-icon {
  width: 70%;
  vertical-align: middle;
}

.rank-header {
  width: 100%;
  padding: 0;
  margin-top: 0;
  margin-bottom: 2px;
  background: #3d2424;
  text-align: center;
}

.rank-header li {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  text-align: center;
}

.rank-header li.s3 {
  width: 150px;
}

.rank-header li.s2 {
  width: 100px;
}

.rank-header li.s1 {
  width: 50px;
}

.rank-list {
  width: 100%;
  margin-top: 0;
  padding: 0;
}

.rank-list li.rank-item {
  position: relative;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #977048;
  color: #2f0a03;
  text-align: center;
}

.rank-list li.rank-item.top {
  background: #977048 !important;
}

.rank-list li.rank-item:nth-child(even) {
  background: #c28f5c;
}

.rank-list li.rank-item .link-details {
  position: absolute;
  left: 21px;
  top: 15px;
  width: 20px;
  display: inline-block;
  cursor: pointer;
}

.rank-list li.rank-item span {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  vertical-align: top;
}

.rank-list li.rank-item span.s3 {
  width: 150px;
}

.rank-list li.rank-item span.s2 {
  width: 100px;
}

.rank-list li.rank-item span.s1 {
  width: 50px;
}

.rank-list li.rank-item span.paragonLvl {
  color: #46448b;
  font-weight: bold;
  padding: 0 2px;
}

.rank-list li.header-item {
  font-family: 'Lora', serif;
  color: #ffca7a;
  background: #86592c;
  vertical-align: middle;
  text-align: left;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 2px;
}

.rank-list li.header-item .thumb-hero {
  display: inline-block;
  margin: 8px 15px;
}

.rank-list li.header-item .class-hero {
  display: inline-block;
  text-transform: uppercase;
}

.rank-list .thumb-hero {
  width: 30px;
  border-radius: 100%;
  line-height: 50px;
  display: block;
  vertical-align: middle;
  margin: 8px 0 0 0;
  padding: 0;
  border: 2px solid #1d1c1c;
  background: #1d1c1c;
}

#side-bar {
  width: 390px;
  float: left;
}

.side-title {
  display: block;
  font-size: 22px;
  padding: 15px;
  margin: 0;
  font-family: 'Lora', serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ffca7a;
  background: #3b1212;
  text-align: center;
}

@media only screen and (max-width: 1023px) {
  body {
    font-size: 14px;
    background-image: none;
    background-color: #1d1c1c;
  }
  header {
    height: 384px;
  }
  header .logo {
    display: block;
    float: none;
    margin: 0 auto;
  }
  .heroClasses {
    padding: 0;
  }
  #nav-rank a {
    width: auto;
    padding: 10px 40px;
    font-size: 24px;
    height: 60px;
    line-height: 60px;
  }
  #nav-rank .rank-title {
    margin: 16px 30px;
  }
  .nav-classes {
    display: block;
    width: 100%;
    text-align: center;
  }
  .nav-classes li {
    width: 14%;
  }
  .nav-classes li a.hero {
    width: 90%;
    height: auto;
  }
  .nav-classes li .class-portrait {
    width: 100%;
    margin: 0;
  }
  .container {
    margin-top: 384px;
  }
  .rank-content {
    width: 90%;
    margin: 0 auto;
    padding-top: 15px;
    float: none;
  }
  #side-bar {
    padding: 20px;
    margin: 15px auto;
    float: none;
    width: 90%;
  }
  #side-bar .rank-list .rank-item {
    width: 50%;
    float: left;
  }
  .rank-list li {
    font-size: 16px;
  }
  .rank-list li.header-item {
    text-align: center;
  }
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.legend li {
  display: inline-block;
  margin: 5px;
  width: 130px;
}

.container-chart {
  width: 100%;
  background: #3d2424;
  color: #fff;
  margin-bottom: 10px;
  display: table;
}

.container-chart .legend {
  padding: 0;
  margin: -40px 0 15px 0;
  text-align: center;
}

.container-chart span {
  color: #ffca7a;
  height: 20px;
}

.container-chart span::before {
  content: "";
  width: 15px;
  height: 15px;
  float: left;
  border-radius: 100%;
  box-shadow: #000 1px 1px 1px;
  margin: 0px 5px 0 0;
}

.container-chart span.bb::before {
  background: #730f0d;
}

.container-chart span.wz::before {
  background: #9159ae;
}

.container-chart span.wd::before {
  background: #5fb54e;
}

.container-chart span.dh::before {
  background: #626065;
}

.container-chart span.mk::before {
  background: #996e41;
}

.container-chart span.cr::before {
  background: #c9b438;
}

.container-chart span.nc::before {
  background: #2ba09f;
}

.container-chart #piechart {
  width: 100%;
  min-height: 300px;
}

.container-chart #rankchart {
  width: 90%;
  min-height: 350px;
}

.container-chart #paragonchart {
  width: 90%;
  min-height: 350px;
}

.container-chart .content-chart {
  margin: 20px 0;
  padding: 0 10px;
}

div.google-visualization-tooltip {
  background: #3b1212 !important;
  border-color: #3b3b3b !important;
  box-shadow: #3b3b3b 0px 0px 1px;
}

div.google-visualization-tooltip span {
  color: #ffca7a !important;
}
/*# sourceMappingURL=main.css.map */