@import "variables.sass"
@import url('https://fonts.googleapis.com/css?family=Lora|Montserrat')
@import url('https://fonts.googleapis.com/css?family=Anton')

//font-family: 'Lora', serif
//font-family: 'Montserrat', sans-serif

/*** Project default template style ****/
body
    width: 100%
    border: none
    display: table
    font-family: 'Montserrat', serif
    padding: 0
    margin: 0
    color: $text-color-1
    background: linear-gradient(to bottom, #050303 0%, #1c0401 60%, #190300 100%), $bg-image-1 no-repeat
    background-position: top 105px left -715px
    background-attachment: fixed
    background-blend-mode: soft-light
    font-size: 12px
    a
        text-decoration: none
        color: $text-color-1
    li
        list-style: none

button,
    .bt-default
        text-transform: uppercase
        box-shadow: $bt-color-2
        background-color: $bt-color-1 
        text-shadow: 3px 1px 3px $bt-color-2
        border: none
        display: inline-block
        cursor: pointer
        color: rgb(255, 255, 255)
        font-family: Arial
        font-size: 14px
        font-weight: 400
        letter-spacing: 1px
        padding: 10px 15px
        text-decoration: none
        transition: all 0.5s
    &:hover
        background: darken($bt-color-1, 10%)
input,
select
    border: none
    border-radius: 0px
    padding: 10px
    font-size: 12px
    color: $text-color-1
    background: $bg-color-1
    box-shadow: #000 2px -9px 12px -9px inset
    &:focus
        outline: none !important
.input-default
    padding: 10px
    width: 100%

header
    position: fixed
    width: 100%
    height: $header-size
    background: $bg-color-2
    display: inline-block
    font-size: 0
    vertical-align: top
    margin-bottom: 15px   
    z-index: 100
    #content-header
        width: 1200px
        margin: 0 auto
    .logo
        float: left
        display: inline-block
        width: 185px
        height: 110px
        text-align: center
        margin: 0 35px
        padding: 0
        cursor: pointer
        img
            max-width: 100%

.container-rank
    width: 1200px
    margin: 0 auto
.container
    width: 1200px
    margin: 200px auto 0
.rank-content
    width: 800px
    float: right
#nav-rank
    display: table
    width: 100%
    text-align: center
    font-size: 0
    font-family: 'Lora', serif
    background: $title-bg
    color: $title-color
    a,select
        text-transform: uppercase
        font-family: 'Anton', sans-serif
        font-size: 20px
        float: right
        display: inline-block
        width: 150px
        height: $rank-nav-size
        padding: 10px 20px
        transition: all 0.4s
        text-align: center
        line-height: $rank-nav-size
        border: 1px solid #3d2424
        border-top: 0
        border-bottom: 0
        background: #522626
        color: $title-color
        letter-spacing: 1.5px
        &:hover
            background: darken(#522626, 15%)
    select
        font-size: 0
        option
            font-size: 14px
    .rank-title
        position: relative
        float: left
        display: inline-block
        text-align: left
        font-size: 35px    
        letter-spacing: 2px
        text-transform: uppercase
        padding: 0
        margin: 10px 40px
        select
            position: absolute
            left: 0
            top: 0
            background: transparent
            box-shadow: none
            width: 210px
            border: none
            option
                background: #3b1212
                color: #ffca7a
                line-height: 16px
                border: none


// RANK LIST STYLE
.nav-classes
    text-align: right
    li
        position: relative
        display: inline-block
        vertical-align: middle
        a.hero   
            position: relative
            display: block
            width: 80px
            height: 80px
            background: #1a1313
            border: 1px solid #160e0e
            overflow: hidden            
            transition: all 0.5s
            border-radius: 100%
            border: 3px solid $list-header-bg
            margin: 15px 10px
            cursor: pointer
            &:hover,&.selected
                background: #611618
            &.selected
                border-color: $title-color
        a.icon        
            position: relative
            display: block
            width: 70px
            height: 70px
            background: #2f3030
            padding: 5px
            border-radius: 5px
            vertical-align: middle
            line-height: 70px

        .class-portrait
            width: 65px
            margin: 14px auto 0
            display: block
        .stats-icon            
            width: 70%
            vertical-align: middle

.rank-header
    width: 100%
    padding: 0
    margin-top: 0
    margin-bottom: 2px
    background: $list-header-bg
    text-align: center
    li
        display: inline-block
        height: $li-height
        line-height: $li-height
        padding: 0 10px
        text-align: center
        &.s3
            width: 150px
        &.s2
            width: 100px
        &.s1
            width: 50px 
.rank-list 
    width: 100%
    margin-top: 0
    padding: 0
    li.rank-item
        position: relative
        width: 100%
        height: $li-height
        line-height: $li-height
        background: $list-bg-1
        color: $list-color-1
        text-align: center
        &.top
            background: $list-bg-1 !important
        &:nth-child(even)
            background: $list-bg-2
            
        .link-details
            position: absolute
            left: 21px
            top: 15px
            width: 20px
            display: inline-block
            cursor: pointer
        span
            display: inline-block
            height: $li-height
            line-height: $li-height
            padding: 0 10px
            vertical-align: top
            &.s3
                width: 150px
            &.s2
                width: 100px
            &.s1
                width: 50px        
            &.paragonLvl
                color: #46448b
                font-weight: bold
                padding: 0 2px
    li.header-item
        font-family: 'Lora', serif
        color: $title-color
        background: $list-bg-3
        vertical-align: middle
        text-align: left
        font-size: 22px     
        font-weight: bold
        letter-spacing: 2px   
        margin-top: 2px
        .thumb-hero
            display: inline-block
            margin: 8px 15px
        .class-hero
            display: inline-block
            text-transform: uppercase
    .thumb-hero
        width: 30px
        border-radius: 100%
        line-height: 50px
        display: block
        vertical-align: middle
        margin: 8px 0 0 0
        padding: 0
        border: 2px solid #1d1c1c
        background: #1d1c1c

// SIDE BAR
#side-bar
    width: 390px
    float: left
.side-title
    display: block
    font-size: 22px
    padding: 15px
    margin: 0
    font-family: 'Lora', serif
    text-transform: uppercase
    letter-spacing: 2px
    color: $title-color
    background: $title-bg
    text-align: center

// MOBILE
@media only screen and (max-width: 1023px) 
    body
        font-size: 14px
        background-image: none
        background-color: $bg-color-1 
    header
        height: $header-size-m
        .logo
            display: block
            float: none
            margin: 0 auto
    .heroClasses
        padding: 0
    #nav-rank
        a
            width: auto
            padding: 10px 40px
            font-size: 24px
            height: 60px
            line-height: 60px
        .rank-title
            margin: 16px 30px
    .nav-classes 
        display: block
        width: 100%
        text-align: center
        li
            width: 14%
            // height: 150px
            a.hero
                width: 90%
                height: auto
            .class-portrait
                width: 100%
                margin: 0
    .container
        margin-top: $header-size-m
    .rank-content
        width: 90%
        margin: 0 auto
        padding-top: 15px
        float: none
    #side-bar
        padding: 20px
        margin: 15px auto
        float: none
        width: 90%
        .rank-list
            .rank-item
                width: 50%
                float: left
    .rank-list 
        li
            font-size: 16px
            &.header-item
                text-align: center


.chart div 
    font: 10px sans-serif
    background-color: steelblue
    text-align: right
    padding: 3px
    margin: 1px
    color: white
.legend
    li
        display: inline-block
        margin: 5px
        width: 130px
        
.container-chart
    width: 100%
    background: #3d2424
    color: #fff
    margin-bottom: 10px
    display: table
    .legend
        padding: 0
        margin: -40px 0 15px 0
        text-align: center
    span
        color: #ffca7a
        height: 20px
        &::before
            content: ""
            width: 15px
            height: 15px
            float: left
            border-radius: 100%
            box-shadow: #000 1px 1px 1px
            margin: 0px 5px 0 0
    span.bb
        &::before
            background: #730f0d
    span.wz
        &::before
            background: #9159ae
    span.wd
        &::before
            background: #5fb54e
    span.dh
        &::before
            background: #626065
    span.mk
        &::before
            background: #996e41
    span.cr
        &::before
            background: #c9b438
    span.nc
        &::before
            background: #2ba09f
    #piechart
        width: 100%
        min-height: 300px
    #rankchart    
        width: 90%
        min-height: 350px
    #paragonchart    
        width: 90%
        min-height: 350px
    .content-chart
        margin: 20px 0 
        padding: 0 10px    

div.google-visualization-tooltip 
    background: #3b1212 !important
    border-color: #3b3b3b !important
    box-shadow: #3b3b3b 0px 0px 1px
    span 
        color: #ffca7a !important